:root {
  --bg-gray-900: #111827;
  --text-gray-100: #F3F4F6;
  --text-gray-300: #D1D5DB;
  --text-gray-400: #9CA3AF;
  --bg-gray-800-opacity-50: rgba(31, 41, 55, 0.5);
  --blue-400: #60A5FA;
  --purple-600: #9333EA;
  --blue-500: #3B82F6;
  --blue-600: #2563EB;
  --purple-700: #7E22CE;
  --red-500: #EF4444;
  --purple-500: #A855F7;
  --green-400: #4ADE80;

  --php-color: #9333EA;
  --laravel-color: #DC2626;
  --javascript-color: #FACC15;
  --html-css-color: #60A5FA;
  --mysql-color: #F97316;
  --git-color: #F97316;
  --github-color: #FFFFFF;
  --vscode-color: #3B82F6;
  --postman-color: #FB923C;
  --composer-color: #2563EB;
  --restful-api-color: #EF4444;
  --mvc-color: #818CF8;
  --swagger-color: #4ADE80;
  --jwt-color: #FACC15;
  --db-design-color: #16A34A;
  --query-opt-color: #2563EB;
  --data-mgmt-color: #60A5FA;
  --auth-color: #9333EA;
}

body {
  background-color: var(--bg-gray-900);
  color: var(--text-gray-100);
  font-family: 'Inter', sans-serif;
  background-image: url('./image/back.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.main-content-wrapper {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  position: relative;
}

.custom-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 576px) {

  .custom-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {

  .custom-container {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

.gradient-text {
  background: linear-gradient(to right, var(--blue-400), var(--purple-600));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card-glassmorphism {
  background-color: var(--bg-gray-800-opacity-50);
  backdrop-filter: blur(12px);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  border: none;
}

.card-glassmorphism:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.skill-item:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--bg-gray-800-opacity-50);
  backdrop-filter: blur(12px);
}

.btn-gradient {
  background: linear-gradient(to right, var(--blue-500), var(--purple-600));
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
  text-decoration: none;
  display: inline-block;
}

.btn-gradient:hover {
  background: linear-gradient(to right, var(--blue-600), var(--purple-700));
  transform: scale(1.05);
  color: white;
}

.text-5xl {
  font-size: 3rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.mb-6 {
  margin-bottom: 1.5rem !important;
}

.mb-12 {
  margin-bottom: 3rem !important;
}

.py-12 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-6 {
  padding: 1.5rem !important;
}

.p-4 {
  padding: 1rem !important;
}

.py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.space-x-4>*+* {
  margin-left: 1rem !important;
}

.space-y-6>*+* {
  margin-top: 1.5rem !important;
}

.space-y-8>*+* {
  margin-top: 2rem !important;
}


@media (min-width: 768px) {

  .md\:space-x-40>*+* {
    margin-left: 10rem !important;
  }

  .md\:space-y-0>*+* {
    margin-top: 0 !important;
  }

  .md\:text-left {
    text-align: left !important;
  }

  .md\:justify-start {
    justify-content: flex-start !important;
  }
}

.icon-php {
  color: var(--php-color);
}

.icon-laravel {
  color: var(--laravel-color);
}

.icon-javascript {
  color: var(--javascript-color);
}

.icon-html-css {
  color: var(--html-css-color);
}

.icon-mysql {
  color: var(--mysql-color);
}

.icon-git {
  color: var(--git-color);
}

.icon-github {
  color: var(--github-color);
}

.icon-vscode {
  color: var(--vscode-color);
}

.icon-postman {
  color: var(--postman-color);
}

.icon-composer {
  color: var(--composer-color);
}

.icon-restful {
  color: var(--restful-api-color);
}

.icon-mvc {
  color: var(--mvc-color);
}

.icon-swagger {
  color: var(--swagger-color);
}

.icon-jwt {
  color: var(--jwt-color);
}

.icon-db-design {
  color: var(--db-design-color);
}

.icon-query-opt {
  color: var(--query-opt-color);
}

.icon-data-mgmt {
  color: var(--data-mgmt-color);
}

.icon-auth {
  color: var(--auth-color);
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in-bottom {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.skill-item-animated {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.skill-item-animated.visible {
  opacity: 1;
  transform: translateY(0);
}

.header-nav-items {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {

  .header-nav-items {
    display: flex !important;
    flex-direction: row !important;
    margin-left: auto !important;
  }

  .navbar-toggler-custom {
    display: none !important;
  }

  .header-nav-collapse {
    position: static !important;
    background-color: transparent !important;
    z-index: auto !important;
  }
}

@media (max-width: 767.98px) {

  .header-nav-collapse {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    background-color: #1F2937;
    z-index: 1000;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .header-nav-items .nav-link {
    padding: 0.5rem 1rem;
  }
}

.project-grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {

  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills-grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 767.98px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skill-icon-bg {
  padding: 1rem;
  font-size: 36px;
  border-radius: 9999px;
}

.skill-name {
  font-weight: 600;
  color: var(--blue-400);
  text-align: center;
}

.tech-badge {
  border: 1px solid var(--blue-400);
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  display: inline-block;
}

.contact-form-input {
  background-color: #1F2937;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.75rem;
  color: var(--text-gray-100);
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--blue-500);
  box-shadow: 0 0 0 0.25rem rgba(59, 130, 246, 0.25);
}

.error-message {
  color: var(--red-500);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.text-gray-300 {
  color: var(--text-gray-300) !important;
}

.text-gray-400 {
  color: var(--text-gray-400) !important;
}

.text-blue-400 {
  color: var(--blue-400) !important;
}

.text-green-400 {
  color: var(--green-400) !important;
}

.text-red-500 {
  color: var(--red-500) !important;
}

.bg-purple-500 {
  background-color: var(--purple-500) !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.nav-link.custom-hover:hover {
  color: var(--blue-400) !important;
}

.no-wrap-text {
  white-space: nowrap;
  font-size: 20px;
}

.project-detail-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
}

.project-image-gallery img {
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.back-button {
  margin-top: 2rem;
  display: inline-block;
}

.card-glassmorphism.add-new-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 320px;

  cursor: pointer;
  color: #4fc3f7;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;
}

.card-glassmorphism.add-new-card:hover {
  background: rgba(79, 195, 247, 0.2);
  box-shadow: 0 12px 30px rgba(79, 195, 247, 0.4);
  color: #ade8ff;
  transform: scale(1.03);
}

.add-new {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.delete-icon:hover {
  color: red;
  cursor: pointer;
}